.SPA__Motiv{
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.registration_form{
  display: flex;
  flex: 0 0 50%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.registration_form__field{
  display: flex;
  flex: 1 0 100%;
  width: 100%;
  
}