.btn-group{
    margin: 1rem 0!important;

}
.button{
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    margin: 0.5rem 0!important;
}
.MuiButton-contained{
    background-color: #fa6600!important;

}
.MuiButton-label{
    color: #fff;
    font-weight: bold;
}