@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.wrap {
  padding: 70px 20% 0 20% !important;
  height: calc(100vh - 100px);
  width: 100%;
}
.paper{
  border: 1px  #fa6600 solid;
}
.paper.top h2 {
  font-size: 23px;
  text-align: center;
}
.paper.fare{
  margin: 2rem;
  border: none;
  height: 300px;
  position: relative;
  border: 1px  transparent solid;
  transition: all ease .5s;

}
.paper.fare h2{
  text-align: center;
  margin-bottom: 0;

}
.paper.fare:hover{
  border-color:  #fa6600;
}
.m-1 {
  margin: 1rem!important;
}
.btn{
  width: 100%;
  display: block !important;
  text-align: center !important;
  font-size: 15px !important;
  margin: 5px 15px!important;
}
.descr{
  padding: 30px 30px;
  text-align: justify;
  font-size: 15px;
}
.button_wrap {
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  left: 50%;
  transform: translateX(-50%);

}
.wrap_item{
  cursor: pointer;
}
.wrap_item_tarif{
  margin: 0 auto !important;
  
}
h2{
  font-size: 38px;
  line-height: 42px;
}
