.MuiOutlinedInput-root{
 border-color: #fff
}

.MuiOutlinedInput-root:hover > .MuiOutlinedInput-notchedOutline{
    border-color: #fa6600!important;

}
.PrivateNotchedOutline-legend-88{
    color:#fa6600!important
}
.MuiFormLabel-root.Mui-focused{
    color:#fa6600!important
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #fa6600!important;
}